body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #e35c49;
}

div {
    margin: 30px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    background-color: #e35c49;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    background-color: #ede8e2;
    border: 1px solid #e35c49;
    color: black;
}

#output {
    display: none;
    margin: 0 auto;
    width: 30%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}